.header_section {
  padding-top: 100px;
  padding-bottom: 75px;
}

.services_section{
  display: flex;
  width: 100%;
  justify-content: center;
}

.whole_page{
  background-image: url(./background.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
.search_section{
  display: flex;
  width: 100%;
  justify-content: center;
}

.movies {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.single {
  border-style: dashed;
  padding: 20px;
}

.instructions {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.MuiTypography-root {
  font-size: 5rem;
}
