.header_section {
  padding-top: 100px;
  padding-bottom: 75px;
}

.services_section{
  display: flex;
  width: 100%;
  justify-content: center;
}

.search_section{
  display: flex;
  width: 100%;
  justify-content: center;
}

.movies {
  display: flex;
  width: 100%;
  align-content: center;
}

.single {
  border-style: dashed;
  padding: 20px;
}

.instructions {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}