.genres {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #bb4430;
}

.genres_buttons {
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #bb4430;
}

.MuiTypography-root {
  font-size: 5rem;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: ;
}

.services {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #bb4430;
}

.services {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #bb4430;
}

.services_boxes {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px #bb4430;
}